*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

@import url("https://fontawesome.com/icons/check?f=classic&s=solid");

@font-face {
    font-family: 'roboto';
    src: url('../assets/fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'bold';
    src: url('../assets/fonts/Roboto-Bold.ttf');
}



h2{
    font-family: 'bold';
}
p{
    font-size: 16px;
}

.attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }